[submodule "htdocs/btp"]
	path = htdocs/btp
	url = git@github.com:ATM-Consulting/module_dolibarr_btp.git
[submodule "htdocs/metre"]
	path = htdocs/metre
	url = git@github.com:ATM-Consulting/dolibarr_module_metre.git
[submodule "htdocs/nomenclature"]
	path = htdocs/nomenclature
	url = git@github.com:ATM-Consulting/dolibarr_module_nomenclature.git
[submodule "htdocs/subtotal"]
	path = htdocs/subtotal
	url = git@github.com:ATM-Consulting/dolibarr_module_subtotal.git
[submodule "htdocs/tarif"]
	path = htdocs/tarif
	url = git@github.com:ATM-Consulting/module_dolibarr_tarif.git
[submodule "htdocs/workstation"]
	path = htdocs/workstation
	url = git@github.com:ATM-Consulting/dolibarr_module_workstation.git
[submodule "htdocs/abricot"]
	path = htdocs/abricot
	url = git@github.com:ATM-Consulting/dolibarr_module_abricot.git
