[submodule "htdocs/btp"]
	path = htdocs/btp
	url = git@github.com:ATM-Consulting/module_dolibarr_btp.git
    branch = 1.1
[submodule "htdocs/nomenclature"]
	path = htdocs/nomenclature
    url = git@github.com:ATM-Consulting/dolibarr_module_nomenclature.git
    branch = 4.0
[submodule "htdocs/subtotal"]
	path = htdocs/subtotal
    url = git@github.com:ATM-Consulting/dolibarr_module_subtotal.git
    branch = 3.6
[submodule "htdocs/abricot"]
	path = htdocs/abricot
    url = git@github.com:ATM-Consulting/dolibarr_module_abricot.git
    branch = 3.2
[submodule "htdocs/discountrules"]
	path = htdocs/discountrules
	url = git@github.com:ATM-Consulting/dolibarr_module_discountrules.git
    branch = 2.11
[submodule "htdocs/doc2project"]
	path = htdocs/doc2project
	url = git@g
